<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <form action="/adminLogin" method="post" style="border:1px solid #ccc">
    <div class="container">
      <h1>Admin Login</h1>
      <p>Enter your credentials</p>
      <hr>
  
      <label for="email"><b>Username:</b></label>
      <input type="text" placeholder="Enter Rollno" name="adminUser" required>

      <label for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="adminPsw" required>
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Login</button>
      </div>
    </div>
  </form>
</body>
</html>